<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
// Link the stylesheet here
<link>
</link>
</head>
<body>
<h2> Pls provide employee info </h2>
<div ng-app="emp" ng-controller="emp.ctlr">
  <form>
    Name : <input type="text" ng-model="name">
    DOB  : <input type="date" ng-model="dob">
    Designation  : <input type="text" ng-model="designation">
    Contact#  : <input type="text" ng-model="contact">
    <br>
    <button type="Submit">
  </form>
</div>
